h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #FAEC94;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
p {
  white-space: normal;
  max-width: 50%;
  font-weight: 500;
  color: white
}
a {
  font-weight: bolder;
}
a:link{
    color: #FAEC94;
}
a:visited {
    color: #FAEC94;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.right {
  float: right;
  max-width: 49%;
  border: 1px solid black;
}

.left {
  float: left;
  max-width: 49%;
  border: 1px solid black;
}

html {
  background-color: #4A4950;
}

body {
  display: flex;
  flex-direction: column;
}

.logo {
  justify-content: start;
  padding-left: 25px;
  padding-top: 25px;
  width: 125px;
  height: 125px;
}

img {
  width: 100%;
  height: 100%;
  clip-path: circle();
}
